<footer class="py-5 bg-light">
	<div class="container">
        <p class="m-0 text-center">Copyright &copy; all right reserved shinystamp 2006~2018</p>
        <p class="m-0 text-center"><a href="/about/jp/">About</a> | <a href="/order/">注文方法</a> | infohojin@naver.com</p>

        <hr>

        <p class="m-0 text-center">公正取引委員会告示による事業者登録番号案内 : 110-12-38505 , 通信販売 番号 ソウル 第2012-ソウル西大門-0339号, 個人情報管理責任者 : オンライン 管理: イ・ホジン, 称号: 株式会社　ドジャンショップ, 代表者 : イ・ホジン / 本社 : ソウル特別市西大門区滄川洞332 / 御客センター電話 : 010-3911-3106 ㅣ FAX : 02-6445-3106 / センター相談案内 [平日 09:30~12:00, 13:00~18:00 ㅣ 土曜日 09:00~13:00 ㅣ 祝日は休業日です。] 当ショップは、公正取引委員会の審議の標準規約を使用します。</p>
    </div>	
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

