<!-- 상품 목록처리 -->
{% for goods in site.pages %}
    {% if goods.type == page.list_categories %}   
                    
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <!-- 이미지 마우스 오버시 확대 에니메이션 -->
            <div class="jcss_img">
                <div class="jcss_scale">
                    <a href="{{goods.permalink}}"><img class="card-img-top" src="{{ goods.images1 }}" alt=""></a>
                </div>
            </div>
            
            <hr>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="{{goods.permalink}}">{{ goods.title }}</a>
                </h4>
                <p class="card-text">{{ goods.spec }}</p>
                <h5>{{ goods.price }}</h5>
                <p class="card-text">{{ goods.subtitle }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ goods.categories }}</small>
            </div>
        </div>
    </div>


    {% endif %}
{% endfor %} 