<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
    <div class="container">
        <!-- 사이트 이름-->
        <a class="navbar-brand" href="/">샤이니스템프</a>
        
        <!-- 모바일 전환시 버튼--> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% for topmenu in site.data.menu %}
                <li class="nav-item 
                    {% if topmenu.url == page.list_categories or topmenu.url == page.type %}
                     active 
                    {% endif %}
                ">
                    <a class="nav-link" href="/kr/{{topmenu.url}}">{{topmenu.title}}</a>
                </li>
                {% endfor %}
          </ul>
        </div>
    </div>
</nav>
