{% comment %}
    # 주석설명:
    URL의 첫번째 국가코드를 분석하여 링크 작성시 삽입을 합니다.
    
{% endcomment %}

{% assign permalink = page.permalink | split: '/' %}        

{% for products in site.data.product %}
<div class="col-lg-4 col-sm-6 text-center mb-4">
    {% if products.images %}
        <img class="rounded-circle img-fluid d-block mx-auto" src="{{products.images}}" alt="">
    {% else %}
        <img class="rounded-circle img-fluid d-block mx-auto" src="/images/200x200" alt="">
    {% endif %}
    
    {% if permalink[1] %}
        <h3><a href="/{{permalink[1]}}/{{products.url}}/">{{products.title}}</a></h3>            
    {% else %}
        <h3><a href="/{{products.url}}/">{{products.title}}</a></h3>
    {% endif %}
    <p>{{products.subtitle}}</p>
</div>
{% endfor %}