---
layout: list

list_title: "DIY KIT"
list_subtitle: "스템프의 글씨를 직접 조합하여 사용을 할 수 있습니다. 영문만 가능합니다."
list_categories: "diy"

permalink: /diy/
---


{% for menu in site.pages %}
    {% if menu.type == page.list_categories %}   
            
            
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <!-- 이미지 마우스 오버시 확대 에니메이션 -->
            <div class="jcss_img">
                <div class="jcss_scale">
                    <a href="{{menu.permalink}}"><img class="card-img-top" src="{{ menu.images1 }}" alt=""></a>
                </div>
            </div>
            
            <hr>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="{{menu.permalink}}">{{ menu.title }}</a>
                </h4>
                <p class="card-text">{{ menu.size }}</p>
                <h5>{{ menu.price }}</h5>
                <p class="card-text">{{ menu.subtitle }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ menu.categories }}</small>
            </div>
        </div>
    </div>


    {% endif %}
{% endfor %}    



